mixin flashSuccessMessage(req)
  - var messages = req.xflash('success')
  if messages.length
    .ui.green.message
      each message in messages
        p #{message}

mixin flashFailureMessage(req)
  - var messages = req.xflash('failure')
  if messages.length
    .ui.red.message
      each message in messages
        p #{message}
