doctype html
html(lang="ja")
  head
    block headBlock
      meta(charset='utf-8')
      meta(name='author', content='')
      meta(name='description', content='')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      block titleBlock
        title The SIer of SIers
      link(rel='stylesheet', href='/bower_components/semantic-ui/build/packaged/css/semantic.css')
      block pageStyleSheetsBlock
      script(src='/bower_components/lodash/dist/lodash.js')
      script(src='/bower_components/jquery/dist/jquery.js')
      script(src='/bower_components/backbone/backbone.js')
      script(src='/bower_components/semantic-ui/build/packaged/javascript/semantic.js')
      script(src='/javascripts/index.js')
      block pageScriptsBlock
  body
    block bodyBlock
