include /apps/mixins/fields
extends /apps/layouts/game


block contentBlock
  h1.ui.medium.header
    i.home.icon
    |Company Settings
  form.ui.form.segment(action=req.path, method='POST')
    input(type='hidden', name='_csrf', value=req.csrfToken())
    +formField('name', inputs.name, error, {required:true, placeholder:'Your Company Inc.'})
    div
      input.ui.blue.submit.button(type='submit', value='Submit')
