include /apps/mixins/fields
extends /apps/layouts/welcome


block contentBlock
  h2.ui.medium.header
    i.sign.in.icon
    |Create Account
  form.ui.form.segment(action=req.path, method='POST')
    input(type='hidden', name='_csrf', value=req.csrfToken())
    +emailField('email', inputs.email, error)
    +passwordField('password', inputs.password, error)
    div
      input.ui.blue.submit.button(type='submit', value='Submit')
