extends /apps/layout


block contentBlock
  h1 core.index
  div Hello, template!
  ul
    li
      if req.user
        a(href='/home') Home
      else
        a(href='login') Login
    li: a(href='logout') Logout
    li: a(href='home/session_counter') Session Counter
