extends /apps/layout


block contentBlock
  h1 core.index
  div Hello, template!
  ul
    li: a(href='login') Login
    li: a(href='logout') Logout
    li: a(href='home/session_counter') Session Counter
