extends /apps/welcome-layout


block contentBlock
  .column

    h2.ui.medium.header Overview
    p.
      メロスは激怒した。必ず、かの邪智暴虐じゃちぼうぎゃくの王を除かなければならぬと決意した。
      メロスには政治がわからぬ。メロスは、村の牧人である。笛を吹き、羊と遊んで暮して来た。
      けれども邪悪に対しては、人一倍に敏感であった。

    .ui.segment
      .ui.segment 1. 資金を使って、人材を雇用し、チームを編成します。
      .ui.segment 2. 案件を受注し、チームをアサインします。
      .ui.segment 3. チームを管理し、プロジェクトを成功に導きます。
      .ui.segment 4. プロジェクトが成功し、顧客が満足するシステムを納品できれば、資金を得ることができます。

    h2.ui.medium.header Getting Started
    p.
      きょう未明メロスは村を出発し、野を越え山越え、十里はなれた此このシラクスの市にやって来た。
      メロスには父も、母も無い。女房も無い。十六の、内気な妹と二人暮しだ。
      この妹は、村の或る律気な一牧人を、近々、花婿はなむことして迎える事になっていた。
    p.
      結婚式も間近かなのである。
      メロスは、それゆえ、花嫁の衣裳やら祝宴の御馳走やらを買いに、はるばる市にやって来たのだ。
      先ず、その品々を買い集め、それから都の大路をぶらぶら歩いた。
