include /apps/mixins/errors
extends /apps/layouts/welcome


block contentBlock
  h2.ui.medium.header
    i.sign.in.icon
    |Login
  form.ui.form.segment(action=req.path, method='POST')
    input(type='hidden', name='_csrf', value=req.csrfToken())
    .field
      label Email
      .ui.left.labeled.icon.input
        input(type='text', name='email', value=inputs.email, placeholder='Email')
        i.user.icon
        .ui.corner.label
          i.asterisk.icon
      +fieldErrors(errors, 'email')
    .field
      label Password
      .ui.left.labeled.icon.input
        input(type='password', name='password', value=inputs.password, placeholder='Password')
        i.lock.icon
        .ui.corner.label
          i.asterisk.icon
      +fieldErrors(errors, 'password')
    div
      input.ui.blue.submit.button(type='submit', value='Login')
